.project-title {
    font-weight: bold;
    font-size: 26px;
    margin: 0px;
}
.section-title {
    font-weight: bold;
    font-size: 20px;  
    margin-top: 20px;
    color: #1857bb;
    border-bottom: 2px solid #1857bb;
}