<div id="menu-main">
    <div class="brand">Notes</div>
    <!-- <div *ngFor="let item of tree">
        <div [ngClass]="['category', data.indexOf(item).toString()]">
            <textarea class="category-name" rows="1" [disabled]="isDisabled">{{item.folder_name}}</textarea>
            <div class="category-button" (click)="openMenu(data.indexOf(item).toString())">...</div>
            <div id="{{'category-menu-' + data.indexOf(item).toString()}}" class="category-menu">
                <div>Category name</div>
                <textarea rows="1" [(ngModel)]='categoryName'></textarea>
                <hr>
                <div (click)="deleteCategory(data.indexOf(item).toString())">Delete category</div>
                <hr>
                <div (click)="addProject(data.indexOf(item).toString())">Add project</div>
                <hr>
                <div class="ctn-close-done">
                    <div class="btn-close" (click)="closeMenu(data.indexOf(item).toString())">Close</div>
                    <div class="btn-done" (click)="onDone(data.indexOf(item).toString())">Done</div>
                </div>
            </div>
        </div> -->
    <div *ngFor="let item of tree">
        <div class="project">{{item.folder_name}}</div>
    </div>
</div>
<div class="category new" (click)="addCategory()">+ Add new category</div>