<div id="main">
    <div id="controls-wrapper">
        <div id="controls">
            <button (click)="format('title')">Title</button>
            <button (click)="format('heading')">Heading</button>
            <button (click)="format('body')">Body</button>
            <button (click)="format('bold')">B</button>
            <button (click)="format('italic')">I</button>
            <button (click)="format('underline')">S</button>
            <button (click)="format('ordered')">1</button>
            <button (click)="format('unordered')">•</button>
        </div>
    </div>
    <div id="textarea" contenteditable="true">Editor works</div>
</div>