input {
    margin-right: 10px;
}
label {
    outline: none;
}
.todo-item {
    margin: 10px 0;
    font-size: 14px;
}
#new {
    color: lightgray;
    cursor: pointer;
}
#todo-main {
    margin-top: 15px;
}